.navbar-default{
	background-color: #00A65A;
	
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
	color: #fff;
}

.google{
    background-color: #DD4B39;
    border-color: #DD4B39;
    color: #fff;
}
.google:hover{
    background-color: #e15f4f;
    border-color:#e15f4f;
    color: #fff;
}

.main-sidebar, .left-side {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 50px;
	min-height: 100%;
	width: 230px;
	z-index: 810;
	-webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
	transition: transform .3s ease-in-out,width .3s ease-in-out;
	font-size: 16px;
	
}